
  /**
   *  Map styles
   */
  
  @import "map-sprite";
  @import "compass/css3/inline-block";
  @import "compass/css3/border-radius";
  @import "compass/css3/box-shadow";
  @import "vars";

  // MAP
  div.map {
    position:absolute;
    *height:100%;
    top:0; right:0; bottom:0; left:0;
  }
  
  div#map{
    height: 100%;
    padding: 0;
    margin: 0;
  }

  // FOOTER
  div.footer {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    display:block;
    height:83px;
    z-index:100;
    background:url('../img/map/footer-bkg.png') repeat;

    p {
      position:relative;
      margin:20px auto 0;
      max-width:600px;
      text-align:center;
      font-size:12px;
      font-family:$helvetica;
      color:#81878D;
      z-index:1;

      a {
        color:#666;
        text-decoration:underline;
        &:hover { color:#333 }
      }
    }

    span.separator {
      position:absolute;
      left:70px;
      right:70px;
      bottom:-15px;
      height:1px;
      background:#C1C2C6;
    }

    span.logo {
      position:absolute;
      z-index:0;
      bottom:10px;

      &.icij {bottom:5px; left:25px}
      &.public {right:25px}
    }
  }

  // INFOWINDOW
  div.cartodb-popup.stories {
    width:417px;
    padding-top:5px;
    background:url("../img/map/infowindow-top.png") no-repeat;
   
    div.cartodb-popup-content-wrapper {
      width:407px;
      max-width:407px;
      padding:0 5px;
      background:url("../img/map/infowindow-content.png") repeat-y;
    }

    div.cartodb-popup-tip-container {
      width:417px;
      background:url("../img/map/infowindow-bottom.png") no-repeat;
    }


    // New content

    div.row {
      display:block;
      overflow:auto;

      div.label,
      div.info {
        padding:20px 0;
        margin:0 20px;
      }

      div.label {
        float:left;
        width:60px;
      }
      div.info {
        float:right;
        width:267px;
        
        &.border {
          border-bottom:1px solid #E1E2E4;  
        }
      }

      // Row types

      // - without padding
      &.no-pad {
        div.info,
        div.label {
          padding-top:0;
        }
      }
    }


    // Elements

    a.cartodb-popup-close-button {
      @include inline-block();
      top:10px;
      right:10px;
      width:20px!important;
      height:auto!important;
      padding:5px 0;
      text-align: center;
      background:0;
      text-indent: 0;
      font:bold 11px $helvetica;
      text-decoration:none;
      &:hover {
        text-decoration:underline;
      }
    }

    label {
      display:block;
      margin-top:2px;
      font:bold 11px $helvetica;
      line-height:12px;
      color:#4CA7CC;
    }

    img {
      max-width:180px!important;
    }

    p {
      display:block;
      max-width:none!important;
      width:auto!important;
      font-family:$georgia;
      font-size:14px;
      color:#999999;

      &.margin { margin-top:12px }

      a {
        color:#459CBE;
        text-decoration:none;
        &:hover { text-decoration:underline }
      }
    }

    a.more {
      font:bold 13px $helvetica;
      color:#333C47;
      text-decoration:none;

      &:hover { text-decoration:underline }
    }

    i.doc_icon {
      @include inline-block();
      width:28px;
      height:32px;
      background:url('../img/map/doc-icon.png') no-repeat;
    }
  }




  // Map overlays

  div.cartodb-zoom {
    float:right;
    width:31px;
    height:61px;
    margin:28px 28px 0;
    padding:5px;
    @include box-shadow(none);
    border:none;
    background:url('../img/map/zoom.png') no-repeat center;

    & > a {
      width:31px;
      height:30px;
      border:none;

      &.zoom_in {
        background-position: -67px 10px;
        &:hover {background-position:-67px -14px}
      }
      &.zoom_out {
        background-position:-93px 10px;
        &:hover {background-position:-93px -14px}
      }
    }
  }

  div.cartodb-tiles-loader {
    position:absolute;
    float:none;
    top:100px;
    right:28px;
    left:auto;
    width:41px;
    height:42px;
    background:url('../img/map/loader.png') no-repeat center;

    div.loader {
      position:relative;
      display:block;
      top:auto; left:auto;
      margin:5px;
      width:30px;
      height:31px;
      @include box-shadow(none);
      border:none;
    }
  }

  div.cartodb-logo {
    bottom:82px!important;
    z-index:10!important;
  }

  div.leaflet-control-attribution {
    margin-bottom:83px!important;
  }